<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="web/static/assets/css/admin.css" />
    <link rel="stylesheet" href="../static/assets/css/admin.css" />
  </head>
  <body>
    <header>
      <h1>Administration Page</h1>
    </header>

    <main>
      <div class="range-container">
        <h2>Users</h2>
        <ul>
          <li>
            <span>Username</span>
            <span>Email</span>
            <span>Grade</span>
          </li>
          {{ range .Users }}
          <li>
            <span>{{ .Username }}</span>
            <span>{{ .Mail }}</span>
            <span>{{ .Grade }}</span>
            <!-- delete user -->
            <form action="/admin/delete-user" method="post">
              <input type="hidden" name="username" value="{{ .Username }}" />
              <button type="submit">Delete User</button>
            </form>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="range-container">
        <h2>Artists</h2>
        <ul>
          <li>
            <span>Name</span>
            <span>Members</span>
            <span>Creation Date</span>
            <span>First Album</span>
          </li>
          {{ range .Artists }}
          <li>
            <span>{{ .Name }}</span>
            <span>{{ range .Members }}{{ . }}, {{ end }}</span>
            <span>{{ .CreationDate }}</span>
            <span>{{ .FirstAlbum }}</span>
          </li>
          {{ end }}
        </ul>

        <!-- add a artists -->
        <form action="/admin/add-artist" method="post">
            <h2>Add Artist</h2>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="PLK" required />
            <label for="members">Members</label>
            <input type="text" id="members" name="members" value="Mathieu Pruski" required />
            <label for="creation-date">Creation Date</label>
            <input type="text" id="creation-date" name="creation-date" value="2015" required />
            <label for="first-album">First Album</label>
            <input type="date" id="first-album" name="first-album" value="2017-10-01" required />
            <button type="submit">Add Artist</button>
      </div>
    </main>

    <footer>
      <!-- Add your footer content here -->
    </footer>
  </body>
</html>
