<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/artist.css" />
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX7_r2A6VAL2v8gKKnZmXmD1Z2bEdov2o&callback=console.debug&libraries=maps,marker&v=beta"
    ></script>
  </head>
  <body>
    <h1>Artist Profile</h1>
    <div class="artist-card">
      <h2>{{ .Name }}</h2>
      <img src="{{ .Image }}" alt="{{ .Name }} Image" />
      <p>Members: {{ range .Members }}{{ . }}, {{ end }}</p>
      <p>Creation Date: {{ .CreationDate }}</p>
      <p>First Album: {{ .FirstAlbum }}</p>
      <div id="map" data-locations="{{ .LocationsCoordinates }}"></div>
    </div>

    <script src="/static/assets/artist.js"></script>
    <gmp-map
      center="43.60826110839844,1.3836721181869507"
      zoom="14"
      map-id="DEMO_MAP_ID"
    >
      <gmp-advanced-marker title="My location"></gmp-advanced-marker>
    </gmp-map>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/{{ .Name }}?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </html>
