<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/web/assets/style.css"
    />
    <title>Groupie Tracker</title>
  </head>
  <body>
    <header>
      <h1>Groupie Tracker</h1>
      <nav>
        <ul>
          <li>      
            <form action="/search" method="GET" class="search-bar">
              <input type="text" name="query" placeholder="Search..." />
              <button type="submit">Search</button>
            </form>
          </li>
          <li>
            <form action="/filter" method="GET" class="filter-form">
              <label for="members">Members</label>
              <input type="text" id="members" name="members" />
              <label for="numberofmember">Number of Members:</label>
              <input type="number" id="numberofmember" name="numberofmember" placeholder="0" />
              <label for="creation-date">Creation Date:</label>
              <input type="text" id="creation-date" name="creation-date" />
              <label for="first-album">First Album:</label>
              <input type="text" id="first-album" name="first-album" />
              <label for="concert-date">Concert Dates:</label>
              <input type="text" id="concert-date" name="concert-date" />
              <button type="submit">Filter</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="artists">
        <h2>Featured Artists</h2>
        {{range .}}
        <div class="artist-card">
          <img src="{{.Image}}" alt="{{.Name}}" />
          <h3>{{.Name}}</h3>
          <p>Members: {{range .Members}} {{.}}, {{end}}</p>
          <p>Creation Date: {{.CreationDate}}</p>
          <p>First Album: {{.FirstAlbum}}</p>
          <p>Locations: <a href="{{.Locations}}">{{.Locations}}</a></p>
          <p>
            Concert Dates: <a href="{{.ConcertDates}}">{{.ConcertDates}}</a>
          </p>
          <p>Relations: <a href="{{.Relations}}">{{.Relations}}</a></p>
          <form action="/artists/{{.ID}}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">Delete</button>
        </div>
        {{end}}
      </section>
    </main>

    <footer>
      <p>&copy; 2022 Groupie Tracker. All rights reserved.</p>
    </footer>
  </body>
</html>
