<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Présentation</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/assets/css/style.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>Bienvenue sur notre site de groupies !</h1>
      <button class="button" onclick="window.location.href='/artists'">
        Voir les artistes
      </button>
    </div>
  </body>
</html>
