body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header,
#login button,
#register button {
  background-color: #333;
  color: white;
}

header {
  padding: 10px;
  text-align: center;
  width: 100%;
}

#login,
#register {
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login h2,
#register h2 {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

#login label,
#register label {
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
}

#login input[type="text"],
#login input[type="password"],
#register input[type="text"],
#register input[type="password"],
#register input[type="email"] {
  width: 92.5%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

#register input[type="text"],
#register input[type="password"],
#register input[type="email"] {
  border-radius: 10px;
}

#login button,
#register button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#register button {
  border-radius: 10px;
}

#login button:hover,
#register button:hover {
  background-color: #444;
}
